<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
  <h2>Base</h2>
  <table>
    <tr>
      <td>First Name:</td>
      <td>Hesuo</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>Zhang</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>Birth Year:</td>
      <td>1996</td>
    </tr>
    <tr>
      <td>Nationality:</td>
      <td>China</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>hesuozhang@gmail.com</td>
    </tr>
    <tr>
      <td>More info to visit:</td>
      <td><a href="https://www.linkedin.com/in/hesuo-zhang-64a6a7145/">LinkedIn.</a></td>
    </tr>
  </table>

  <br>
  <h2>Education</h2>
  <ul>
    <li>B.S. degree: school of Electronic and Information Engineering, South China University of Technology. 2015 - 2019</li>
    <li>Master candidate: school of Electronic and Information Engineering, South China University of Technology. 2019 - </li>
  </ul>
  <br>
  <h2>Skills</h2>
  <table>
    <tr>
      <td>Python:</td>
      <td><progress value="90" max="100" style="background: #68b604"></progress></td>
    </tr>
    <tr>
      <td>C/C++:</td>
      <td><progress value="70" max="100" style="background: #68b604"></progress></td>
    </tr>
    <tr>
      <td>HTML/CSS/JS:</td>
      <td><progress value="60" max="100" style="background: #68b604"></progress></td>
    </tr>
    <tr>
      <td>Java:</td>
      <td><progress value="60" max="100" style="background: #68b604"></progress></td>
    </tr>

    <tr>
      <td>Math:</td>
      <td><progress value="90" max="100" style="background: #2788B5"></progress></td>
    </tr>
    <tr>
      <td>Office:</td>
      <td><progress value="80" max="100" style="background: #2788B5"></progress></td>
    </tr>
    <tr>
      <td>English:</td>
      <td><progress value="90" max="100" style="background: #2788B5"></progress></td>
    </tr>

    <tr>
      <td>Communication:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Cooperation:</td>
      <td><progress value="90" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Careful:</td>
      <td><progress value="90" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Creative:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Willpower:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
    </tr>
    </table>

</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <p>I feel comfortable working on the development of computer vision algorithm, mainly some algorithm related to OCR and document analysis!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <p>My main development languages are C++ and Python, and the mainly used deep learning framework are pytorch, caffe and tensorflow.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <img src="{{ '/assets/img/1_1.png' | prepend: site.baseurl }}" alt="">
    <p>Git, Linux, Vim, Docker, I have used a many tools!</p>
  </div>
</div>
