<div class="user-details">
  <h1>My Expertise</h1>
  <p>Last update: 13/04/2020</p>
  <p>{{ site.user_description }}</p>


  <h2>Basic Information</h2>
  <div style="width: 60%; margin: auto">
  <div style="float: left;"><img src="{{ '/assets/img/001.jpg' | prepend: site.baseurl }}" width="120px" alt=""></div>
  <table align="center">
    <tr>
      <td>First Name:</td>
      <td>Hesuo</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td>Zhang</td>
    </tr>
    <tr>
      <td>Gender:</td>
      <td>Male</td>
    </tr>
    <tr>
      <td>Birth Year:</td>
      <td>1996</td>
    </tr>
    <tr>
      <td>Nationality:</td>
      <td>China</td>
    </tr>
    <tr>
      <td>E-mail:</td>
      <td>hesuozhang@gmail.com</td>
    </tr>
    <tr>
      <td>More info to visit:</td>
      <td><a href="https://www.linkedin.com/in/hesuo-zhang-64a6a7145/">LinkedIn.</a></td>
    </tr>
  </table>
  </div>
  <br>


  <h2>Education</h2>
  <ul>
    <li>B.S. degree: School of Electronic and Information Engineering, South China University of Technology. Major in Information Engineering (2015 - 2019).</li>
    <li>Master candidate: School of Electronic and Information Engineering, South China University of Technology. Major in Information and Communication Engineering (2019 - ). </li>
  </ul>
  <br>

  <h2>Achievements</h2>
  <ul>
    <li><b>H. Zhang</b>, L. Liang, L, Jin, SCUT-HCCDoc: A New Benchmark Dataset of Handwritten Chinese Text in Unconstrained Camera-captured Documents, Pattern Recognition, 2020</li>
    <li><b>H. Zhang</b>, W.Ma, L, Jin, et al.DeMatch: Towards Understanding the Panel of Chart Documents, in: Proceedings of International Conference on Document Analysis and Recognition, 2021</li>
    <li>W. Ma, <b>H. Zhang</b>, L. Jin, et al. Joint Layout Analysis, Character Detection and Recognition for Historical Document Digitization, in: Proceedings of International Conference on Frontiers in Handwriting Recognition (ICFHR), 2020</li>
    <li>W. Ma, <b>H. Zhang</b>, S, Yan, et al. Towards an efficient framework for Data Extraction from Chart Images, in: Proceedings of International Conference on Document Analysis and Recognition, 2021</li>
  </ul>
  <br>


  <h2>Skills</h2>
  <table align="center">
    <tr>
      <td>Python:</td>
      <td><progress value="90" max="100" style="background: #68b604"></progress></td>
      <td>&nbsp;&nbsp;</td>
      <td>C/C++:</td>
      <td><progress value="70" max="100" style="background: #68b604"></progress></td>
    </tr>
    <tr>
      <td>HTML/CSS/JS:</td>
      <td><progress value="60" max="100" style="background: #68b604"></progress></td>
      <td>&nbsp;&nbsp;</td>
      <td>Java:</td>
      <td><progress value="60" max="100" style="background: #68b604"></progress></td>
    </tr>
   <tr><td></td><td></td></tr>
    <tr>
      <td>Math:</td>
      <td><progress value="90" max="100" style="background: #2788B5"></progress></td>
      <td></td>
      <td>Office:</td>
      <td><progress value="80" max="100" style="background: #2788B5"></progress></td>
    </tr>
    <tr>
      <td>English:</td>
      <td><progress value="90" max="100" style="background: #2788B5"></progress></td>
      <td></td>
      <td>Communication:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Cooperation:</td>
      <td><progress value="90" max="100" style="background: #a62c46"></progress></td>
      <td></td>
      <td>Careful:</td>
      <td><progress value="90" max="100" style="background: #a62c46"></progress></td>
    </tr>
    <tr>
      <td>Creative:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
      <td></td>
      <td>Willpower:</td>
      <td><progress value="80" max="100" style="background: #a62c46"></progress></td>
    </tr>
    </table>

</div>
<div class="user">
  <div class="tech">
    <h2>Research</h2>
    <img src="{{ '/assets/img/1_2.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/1_4.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/1_5.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <p>I feel comfortable working on the development of computer vision algorithm, mainly some algorithm related to OCR and document analysis!</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="{{ '/assets/img/2_1.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/2_2.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/2_3.png' | prepend: site.baseurl }}" width="72" alt="">
    <p>My main development languages are C++ and Python, and the mainly used deep learning framework are pytorch, caffe and tensorflow.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="{{ '/assets/img/3_1.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/3_2.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <img src="{{ '/assets/img/3_4.jpg' | prepend: site.baseurl }}" width="72" alt="">
    <p>Opencv, Git, Linux, Vim, Docker, I have used many tools!</p>
  </div>
</div>
